@import "variable";
$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
body {
    background: url(../images/j01.jpg) repeat-y center top;
}

.container {
    width: 900px !important;
    min-width: 900px !important;
    max-width: 900px !important;
}

.site-header {
    height: 160px;
    background: url(../images/p02.png) no-repeat center 70px;
    ;
    .container {
        position: relative;
        height: 100%;
    }
    .nav {
        position: absolute;
        bottom: 5px;
        width: 100%;
        overflow: visiable;
        padding-left: 0;
        margin-left: 0;
        > li {
            width: 8.33333333%;
            text-align: center;
            height: 58px;
            line-height: 52px;
            &.active {
                a {
                    background: url(../images/j02.jpg) no-repeat right center;
                }
            }
            &.li-1 {
                &.active,
                &:hover {
                    background: url(../images/p18.png) no-repeat center top;
                }
            }
            &.li-2 {
                &.active,
                &:hover {
                    background: url(../images/p19.png) no-repeat center top;
                }
            }
            &.li-3 {
                &.active,
                &:hover {
                    background: url(../images/p20.png) no-repeat center top;
                }
            }
            &.li-4 {
                &.active,
                &:hover {
                    background: url(../images/p21.png) no-repeat center top;
                }
            }
            &.li-5 {
                &.active,
                &:hover {
                    background: url(../images/p22.png) no-repeat center top;
                }
            }
            &.li-6 {
                &.active,
                &:hover {
                    background: url(../images/p23.png) no-repeat center top;
                }
            }
            &.li-7 {
                &.active,
                &:hover {
                    background: url(../images/p24.png) no-repeat center top;
                }
            }
            &.li-8 {
                &.active,
                &:hover {
                    background: url(../images/p25.png) no-repeat center top;
                }
            }
            &.li-9 {
                &.active,
                &:hover {
                    background: url(../images/p26.png) no-repeat center top;
                }
            }
            &.li-10 {
                &.active,
                &:hover {
                    background: url(../images/p27.png) no-repeat center top;
                }
            }
            &.li-11 {
                &.active,
                &:hover {
                    background: url(../images/p28.png) no-repeat center top;
                }
            }
            &.li-12 {
                &.active,
                &:hover {
                    background: url(../images/p29.png) no-repeat center top;
                }
            }
            &+li {
                margin-left: 0;
            }
            > a {
                padding: 0px;
                font-size: 12px;
                background: url(../images/j02.jpg) no-repeat right center;
                color: #fff;
            }
            &.last,
            &:last-child {
                a {
                    background: none;
                }
            }
        }
    }
    .form-search {
        width: 100%;
        text-align: right;
        position: absolute;
        top: 55px;
        .form-group {
            display: inline;
            label {
                margin-bottom: 0;
            }
            .form-control {
                padding-top: 0px;
                padding-bottom: 0px;
                height: 27px;
            }
        }
        .btn {
            padding: 0;
        }
    }
}

.site-footer {
    background: url(../images/j03.jpg) repeat-y center bottom;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    p {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.banner {
    margin-bottom: 20px;
    .banner-slick {
        margin-bottom: 0;
    }
    .slick-arrow {
        @include opacity(0.5);
        &:hover {
            @include opacity(1);
        }
        &:before {
            content: '';
        }
        &.slick-prev {
            background: url(../images/p30.png) no-repeat center center;
            width: 32px;
            height: 39px;
            left: -35px;
        }
        &.slick-next {
            background: url(../images/p31.png) no-repeat center center;
            width: 32px;
            height: 39px;
            right: -35px;
        }
    }
}

.col-side {
    width: 235px;
    margin-right: 15px;
}

.col-main {
    width: 650px;
}

.banner-slick-2 {
    margin-bottom: 15px;
    .slick-dots {
        bottom: 0px;
        margin-bottom: 5px;
        text-align: right;
        li {
            &.slick-active {
                button {
                    background-color: #0098db;
                    color: #fff;
                }
            }
            button {
                color: #333;
                font-size: 12px;
                width: 20px;
                height: 20px;
                padding: 0;
                margin: 0;
                line-height: 20px;
                text-align: center;
                border-radius: 10px;
                background-color: #fff;
                &:before {
                    content: '';
                    width: 0;
                    height: 0;
                    font-size: 0;
                }
            }
        }
    }
}

.box {
    border-top: 2px solid #0087ce;
    border-left: 2px solid #0067b5;
    border-bottom: 2px solid #0063b2;
    border-right: 2px solid #008ad1;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    margin-bottom: 10px;
    @include gradient-horizontal(#c6dff5, #eaf4fd);
    .heading {
        background: url(../images/p05.png) no-repeat center top;
        text-align: center;
        margin-top: -3px;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        line-height: 32px;
    }
    .body {
        padding-top: 10px;
        .wall {
            @include gradient-horizontal(#004ea1, #00aeeb);
            margin-top: 10px;
            border: 1px solid #8f9094;
            border-radius: 3px;
            text-align: center;
            color: #fff;
            a {
                color: #fff;
                line-height: 25px;
            }
        }
        .calendar {
            .num {
                font-size: 17px;
                color: #575556;
                font-weight: bold;
            }
            .unit {
                margin-top: 10px;
                display: block;
                color: #575556;
                text-align: center;
                font-size: 16px;
            }
            .day {
                background: url(../images/p32.png) no-repeat center top;
                text-align: center;
                height: 35px;
            }
            .hour {
                background: url(../images/p33.png) no-repeat center top;
                text-align: center;
                height: 35px;
            }
            .minutes {
                background: url(../images/p34.png) no-repeat center top;
                text-align: center;
                height: 35px;
            }
            .seconds {
                background: url(../images/p35.png) no-repeat center top;
                text-align: center;
                height: 35px;
            }
        }
        &.meeting-info {
            p {
                margin-top: 5px;
                margin-bottom: 5px;
            }
            .split {
                background: url(../images/p08.png) no-repeat center bottom;
                padding-bottom: 5px;
            }
        }
        &.org {
            p {
                margin-bottom: 15px;
            }
        }
    }
}

article {
    h2.title {
        margin-top: 0px;
        height: 40px;
        background: url(../images/p36.png) no-repeat left center;
        padding-left: 35px;
        font-size: 22px;
        font-weight: bold;
        color: #fff;
        line-height: 40px;
    }
    .body {
        padding: 20px 30px;
        background: url(../images/p37.png) repeat-y center top;
        p {
            text-indent: 2em;
            &.no-intent {
                text-indent: 0em;
            }
        }
    }
    .more {
        text-align: right;
        background: url(../images/j05.jpg) no-repeat left center;
        a {
            background: url(../images/p12.png) no-repeat right center;
            padding-right: 25px;
        }
    }
    .avator.pull-left {
        margin-right: 15px;
        p {
            text-align: center;
            font-weight: bold;
            margin-top: 10px;
        }
    }
}
