@import "variable";
$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
body {
    background: url(../images/j01.jpg) repeat-y center top;
}

.container {
    width: 900px !important;
    min-width: 900px !important;
    max-width: 900px !important;
}

.site-header {
    height: 160px;
    background: url(../images/p02.png) no-repeat center 70px;
    ;
    .container {
        position: relative;
        height: 100%;
    }
    .nav {
        position: absolute;
        bottom: 5px;
        width: 100%;
        overflow: visiable;
        padding-left: 0;
        margin-left: 0;
        > li {
            width: 8.33333333%;
            text-align: center;
            height: 58px;
            line-height: 52px;
            &.active {
                a {
                    background: url(../images/j02.jpg) no-repeat right center;
                }
            }
            &.li-1 {
                &.active,
                &:hover {
                    background: url(../images/p18.png) no-repeat center top;
                }
            }
            &.li-2 {
                &.active,
                &:hover {
                    background: url(../images/p19.png) no-repeat center top;
                }
            }
            &.li-3 {
                &.active,
                &:hover {
                    background: url(../images/p20.png) no-repeat center top;
                }
            }
            &.li-4 {
                &.active,
                &:hover {
                    background: url(../images/p21.png) no-repeat center top;
                }
            }
            &.li-5 {
                &.active,
                &:hover {
                    background: url(../images/p22.png) no-repeat center top;
                }
            }
            &.li-6 {
                &.active,
                &:hover {
                    background: url(../images/p23.png) no-repeat center top;
                }
            }
            &.li-7 {
                &.active,
                &:hover {
                    background: url(../images/p24.png) no-repeat center top;
                }
            }
            &.li-8 {
                &.active,
                &:hover {
                    background: url(../images/p25.png) no-repeat center top;
                }
            }
            &.li-9 {
                &.active,
                &:hover {
                    background: url(../images/p26.png) no-repeat center top;
                }
            }
            &.li-10 {
                &.active,
                &:hover {
                    background: url(../images/p27.png) no-repeat center top;
                }
            }
            &.li-11 {
                &.active,
                &:hover {
                    background: url(../images/p28.png) no-repeat center top;
                }
            }
            &.li-12 {
                &.active,
                &:hover {
                    background: url(../images/p29.png) no-repeat center top;
                }
            }
            &+li {
                margin-left: 0;
            }
            > a {
                padding: 0px;
                font-size: 12px;
                background: url(../images/j02.jpg) no-repeat right center;
                color: #fff;
            }
            &.last,
            &:last-child {
                a {
                    background: none;
                }
            }
        }
    }
    .form-search {
        width: 100%;
        text-align: right;
        position: absolute;
        top: 55px;
        .form-group {
            display: inline;
            label {
                margin-bottom: 0;
            }
            .form-control {
                padding-top: 0px;
                padding-bottom: 0px;
                height: 27px;
            }
        }
        .btn {
            padding: 0;
        }
    }
}

.site-footer {
    background: url(../images/j03.jpg) repeat-y center bottom;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    p {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.banner {
    margin-bottom: 20px;
    .banner-slick {
        margin-bottom: 0;
    }
    .slick-arrow {
        @include opacity(0.5);
        &:hover {
            @include opacity(1);
        }
        &:before {
            content: '';
        }
        &.slick-prev {
            background: url(../images/p30.png) no-repeat center center;
            width: 32px;
            height: 39px;
            left: -35px;
        }
        &.slick-next {
            background: url(../images/p31.png) no-repeat center center;
            width: 32px;
            height: 39px;
            right: -35px;
        }
    }
}

.col-side {
    width: 235px;
    margin-right: 15px;
}

.col-main {
    width: 650px;
}

.banner-slick-2 {
    margin-bottom: 15px;
    .slick-dots {
        bottom: 0px;
        margin-bottom: 5px;
        text-align: right;
        li {
            &.slick-active {
                button {
                    background-color: #0098db;
                    color: #fff;
                }
            }
            button {
                color: #333;
                font-size: 12px;
                width: 20px;
                height: 20px;
                padding: 0;
                margin: 0;
                line-height: 20px;
                text-align: center;
                border-radius: 10px;
                background-color: #fff;
                &:before {
                    content: '';
                    width: 0;
                    height: 0;
                    font-size: 0;
                }
            }
        }
    }
}

.box {
    border-top: 2px solid #0087ce;
    border-left: 2px solid #0067b5;
    border-bottom: 2px solid #0063b2;
    border-right: 2px solid #008ad1;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    margin-bottom: 10px;
    @include gradient-horizontal(#c6dff5, #eaf4fd);
    .heading {
        background: url(../images/p05.png) no-repeat center top;
        text-align: center;
        margin-top: -3px;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        line-height: 32px;
    }
    .body {
        padding-top: 10px;
        .wall {
            @include gradient-horizontal(#004ea1, #00aeeb);
            margin-top: 10px;
            border: 1px solid #8f9094;
            border-radius: 3px;
            text-align: center;
            color: #fff;
            a {
                color: #fff;
                line-height: 25px;
            }
        }
        .calendar {
            .num {
                font-size: 17px;
                color: #575556;
                font-weight: bold;
            }
            .unit {
                margin-top: 10px;
                display: block;
                color: #575556;
                text-align: center;
                font-size: 16px;
            }
            .day {
                background: url(../images/p32.png) no-repeat center top;
                text-align: center;
                height: 35px;
            }
            .hour {
                background: url(../images/p33.png) no-repeat center top;
                text-align: center;
                height: 35px;
            }
            .minutes {
                background: url(../images/p34.png) no-repeat center top;
                text-align: center;
                height: 35px;
            }
            .seconds {
                background: url(../images/p35.png) no-repeat center top;
                text-align: center;
                height: 35px;
            }
        }
        &.meeting-info {
            p {
                margin-top: 5px;
                margin-bottom: 5px;
            }
            .split {
                background: url(../images/p08.png) no-repeat center bottom;
                padding-bottom: 5px;
            }
        }
        &.org {
            p {
                margin-bottom: 15px;
            }
        }
    }
    .nav-pills {
        text-align: center;
        > li {
            margin-left: -3px;
            margin-right: -3px;
        }
        > li > a {
            border-radius: 0px;
            padding-top: 3px;
            padding-bottom: 3px;
        }
        
    }
}

article {
    margin-bottom: 30px;
    h2.title {
        margin-top: 0px;
        height: 40px;
        background: url(../images/p36.png) no-repeat left center;
        padding-left: 35px;
        font-size: 22px;
        font-weight: bold;
        color: #fff;
        line-height: 40px;
    }
    h3.title {
        @include gradient-horizontal(#004ea2, #00afec);
        line-height: 35px;
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        padding-left: 1em;
        margin-top: 0px;
    }
    h4.title {
        color: #0074C1;
        font-size: 18px;
        font-weight: bold;
    }
    .sect {
        margin-bottom: 30px;
        line-height: 2;
        h4 {
            font-size: 14px;
            font-weight: bold;
        }
    }
    .body {
        padding: 20px 30px;
        background: url(../images/p37.png) repeat-y center top;
        p {
            text-indent: 2em;
            line-height: 1.8;
            &.no-intent {
                text-indent: 0em;
            }
        }
    }
    &.full {
        h2.title {
            background: url(../images/p40.png) no-repeat left center;
            .back {
                margin-top: 8px;
                margin-right: 8px;
                &:hover {
                    @include opacity(0.8);
                }
            }
        }
        .body {
            padding: 20px 30px;
            background: url(../images/p41.png) repeat-y center top;
        }
    }
    .more {
        text-align: right;
        background: url(../images/j05.jpg) no-repeat left center;
        a {
            background: url(../images/p12.png) no-repeat right center;
            padding-right: 25px;
        }
    }
    .avator.pull-left {
        margin-right: 15px;
        p {
            text-align: center;
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 0px;
        }
    }
    .content-group {
        margin-bottom: 20px;
        h5 {
            font-weight: bold;
        }
    }
    &.org {
        h5 {
            font-weight: bold;
        }
        dl.dl-horizontal {
            dt {
                width: 6em;
                float: left;
                clear: left;
                text-align: right;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            dd {
                margin-left: 7em;
            }
        }
    }
    &.intro {
        .row {
            margin-bottom: 50px;
        }
    }
    &.form {
        .label-wrap {
            margin-top: 20px;
            margin-bottom: 30px;
            label {
                font-size: 16px;
                margin-right: 5px;
            }
        }
        .form-horizontal {
            padding-left: 20px;
            border-left: 1px solid #004ea2;
            label {
                padding-right: 8px;
                color: #595757;
                font-weight: normal;
            }
            input {
                border-color: #004ea2;
            }
            h5 {
                font-size: 14px;
                font-weight: bold;
                color: #595757;
            }
            a {
                color: #595757;
            }
        }
    }
    .register {
        h1 {
            background: url(../images/p43.png) no-repeat center center;
            padding-left: 20px;
            font-size: 18px;
            small {
                font-size: 14px;
            }
        }
        label {
            padding-right: 5px;
            font-weight: normal;
        }
        .form-control {
            background: transparent;
            border-color: #595757;
        }
    }
    .self-info {
        color: #595757;
        h1 {
            background: url(../images/p44.png) no-repeat center center;
            padding-left: 15px;
            font-size: 16px;
            font-weight: bold;
        }
        h2 {
            font-size: 12px;
            font-weight: normal;
            color: #595757;
        }
        h3 {
            font-size: 14px;
            font-weight: normal;
            color: #00A0E8;
        }
        h4 {
            background: url(../images/p45.png) no-repeat center center;
            padding-left: 15px;
            font-size: 16px;
            font-weight: bold;
        }
    }
    .pay-method {
        padding-left: 30px;
    }
}

.btn-a {
    @include button-variant(#fff, #fc7502, #ffffff);
    @include gradient-vertical(#00b0ec, #004ea2);
    &:hover {
        @include gradient-vertical(lighten(#00b0ec, 16%), lighten(#004ea2, 16%));
    }
}

.btn-b {
    @include button-variant(#fff, transparent, #0060af);
    color: #595757;
    &:hover {
        color: darken(#595757, 20%);
    }
}

.sub-nav {
    @include gradient-horizontal(#0150a3, #00aeeb);
    height: 40px;
    line-height: 50px;
    padding-left: 20px;
    overflow:visiable;
    .back {
        margin-top: -5px;
        margin-right: 8px;
    }
    .split {
        width: 0px;
        border-left: 1px solid #fff;
        padding-right: 1px solid #fff;
        display: block;
        margin-top: 5px;
        height: 30px;
        float: left;
        margin-left: 5px;
        margin-right: 5px;

    }
    a.nav-item {
        color: #fff;
        display: block;
        height: 50px;
        float: left;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: -5px;
        &.active,
        &:hover {
            @include gradient-horizontal(#0076c0, #00afec);
        }
    }
}

.mt100 {
    margin-top: 100px;
}

.attach_download {
    @include gradient-vertical(#00b0ec, #004ea2);
    clear:both;
    display: block;
    float: left;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    padding: 1px 10px 3px 3px;
    width: 200px;
    border-radius: 5px;
    vertical-align: middle;
    img {
        margin-right: 5px;
        margin-top: -1px;
    }
    &:hover {
        text-decoration: none;
        color: darken(#fff, 15%);
    }
}